*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 5;
  background-color: teal;
  color: whitesmoke;
}

.App{
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
}

a {
  cursor: pointer;
  color: rgb(150, 150, 181);
  text-decoration: none;
  padding: 0 10px;
  transition: color 0.3s ease;
  font-weight: 800;
}
